@model IEnumerable<OAMS.Models.AppSetting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Key
        </th>
        <th>
            Value
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
        </td>
        <td>
            @item.Key
        </td>
        <td>
            @item.Value
        </td>
    </tr>
}

</table>

