<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.5" />
  <package id="jQuery.vsdoc" version="1.5" />
  <package id="jQuery.UI.Core" version="1.8.9" />
  <package id="jQuery.UI.Core.Widget" version="1.8.9" />
  <package id="RazorJS" version="0.4.3" />
  <package id="jquery.datatables" version="1.8.1" />
  <package id="jQuery.Templates" version="0.1" />
  <package id="knockoutjs" version="1.2.1" />
  <package id="MiniProfiler" version="1.7" />
  <package id="WebActivator" version="1.4.1" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="elmah" version="1.2.0.1" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="elmah.sqlservercompact" version="1.2" />
  <package id="EntityFramework" version="4.1.10715.0" />
  <package id="EFCodeFirst" version="1.1" />
  <package id="EFCodeFirst.SqlServerCompact" version="0.8.8482.1" />
  <package id="Google.GData.Client" version="1.9.0.0" />
  <package id="Google.GData.Extensions" version="1.9.0.0" />
</packages>