<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.5" />
  <package id="jQuery.vsdoc" version="1.5" />
  <package id="jQuery.UI.Core" version="1.8.9" />
  <package id="jQuery.UI.Core.Widget" version="1.8.9" />
  <package id="RazorJS" version="0.4.3" />
  <package id="jquery.datatables" version="1.8.1" />
  <package id="jQuery.Templates" version="0.1" />
  <package id="knockoutjs" version="1.2.1" />
</packages>